*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.box{
    height: 34vh;
    width: 100vw;
    padding: 20px;
    background-color: white;
    font-size: large;

}
.box2{
    height: 34vh;
    width: 100vw;
    padding: 20px;
    background-color: rgb(32, 178, 170);
    color: white;
    font-size: larger;

}
.box3{
    height: 34vh;
    width:100vw;
    padding: 20px;
    background-color: rgb(7, 214, 76, 0.9);
    font-size: larger;
    color: white;
}
#srinu{
    color: rgb(32, 178, 170);         
                                      
}
#sai{
    padding-top: 10px;
    color: light rgba(125, 233, 10, 0.911);
}
#guna{
    padding-top: 10px;
}
span{
    font-size: xx-large;
}
button{
    padding:10px 30px 10px 30px;
    background-color:rgba(125, 233, 10, 0.911) ;
    font-size: medium;
}
.bro{
    padding-top: 5px;
}
@media only screen and (min-width:1024px){
    .box3{
        float: right;
        height: 50vh;
        width: 50%;;
    }
    .box2{
        float: left;
        height: 50vh;
        width: 50%;
    }
    .box{
        height: 50vh;
        width: 100vw;
        padding: 100px 0px 10px 300px;
    }
    p{
        padding-top: 5px;
    }
}