*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'karla'sans-serif;
}
.box1{
    height: 34vh;
    width: 100vw;
    padding: 30px;
    background-color: white;

}
.box2{
    height: 34vh;
    width: 100vw;
    padding: 30px;
    background-color: rgb(32, 178, 170);
    color: white;
    /* font-size: large; */
    
    

}
.box3{
    height: 34vh;
    width:100vw;
    padding: 30px;
    background-color: hsl(179,47%,51%);
    color: white;
}
#srinu{
    color: rgb(32, 178, 130);   
    /* font-size: larger;       */
                               
}
body{
    font-family: 'karla', sans-serif;
    /* font-weight: lighter; */
    font-size: medium;
    /* padding-left: 20px; */
}
#sai{
    padding-top: 5px;
    color: hsl(69, 53%, 55%);
    font-size: large;
}
#guna{
    padding-top: 10px;
    color: rgba(194, 177, 177, 0.71);
    line-height: 5vw;
    /* font-weight: bolder; */
    font-size: small;
    
}
span{
    font-size: xx-large;
}
.button{
    width: 200px;
    height: 40px;
    /* padding: 5px, 5px ,5px, 0px; */
    background-color:hsl(71, 72%, 53%);
    border-radius: 5px;
    border:0px solid hsl(71, 72%, 53%);
    font-size: medium;
    text-align: center;
    color: white;
}
.sis{
    padding-top: 5px;
    font-size: small;
}

.bro{
    padding-top: 15px;
    font-size: small;
    
}
.nag{
    font-size: large;
}
@media only screen and (min-width:768px){
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        /* font-size: x-large; */
    }

    body{
        font-size: x-large;
        font-family: 'karla'sans-serif;
        
        
    }

    .box1{
        height: 50vh;
        width: 100vw;
        padding: 40px;

    }
    .box2{
        height: 50vh;
        width: 50%;
        float: left;
    }
    .box3{
        height: 50vh;
        width: 50%;
        float: right;
    }
    #srinu{
        padding: 30px 0px 20px 20px;
        font-size: 30px;
    }
    #sai{
        font-size: 20px;
        padding-left: 20px;
    }
    #guna{
        line-height: normal;
        font-size: 17px;
        padding-left: 20px;
    }
    #nag{
        font-size: 25px;
        padding-left: 20px;
    }
    #naveen{
        font-size: 25px;
        padding-left: 20px;
    }
    .sis{
        font-size: 17px;
        padding-left: 20px;
    }
    .bro{
        font-size: 17px;
        padding-left: 20px;
        /* line-height: 5px; */
    }
    
}
  
  @media only screen and (min-width:1000px){
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        /* font-size: x-large; */
    }

    body{
        font-size: xx-large;
        font-family: 'karla'sans-serif;
        
        
    }

    .box1{
        height: 50vh;
        width: 100vw;
        padding: 50px;

    }
    .box2{
        height: 50vh;
        width: 50%;
        float: left;
    }
    .box3{
        height: 50vh;
        width: 50%;
        float: right;
    }
    #srinu{
        padding: 30px 0px 20px 10px;
        font-size: 35px;
    }
    #sai{
        font-size: 23px;
        padding-left: 10px;
    }
    #guna{
        line-height: normal;
        font-size: 20px;
        padding-left: 10px;
    }
    #nag{
        font-size: 30px;
        padding-left: 20px;
    }
    #naveen{
        font-size: 30px;
        padding-left: 20px;
    }
    .sis{
        font-size: 20px;
        padding-left: 20px;
    }
    .bro{
        font-size: 20px;
        padding-left: 20px;
        /* line-height: 5px; */
    }
    

  }
  @media only screen and (min-width:320px){
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        /* font-size: x-large; */
    }

    body{
        font-size: small;
        font-family: 'karla'sans-serif; 
    }
    
  }
